:root {
    --purple-color: #5e5ce6;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2c2c2e;
    color: white;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-26 {
    font-size: 26px;
}

.--purple-color {
    color: var(--purple-color);
}


/* header */

header {
    margin-left: 75px;
    height: 75px;
    background-color: rgb(44, 44, 47);
}

.header-nav a {
    position: relative;
    cursor: pointer;
}


.header-nav .active::before {
    content: '';
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--purple-color);
    /* border-bottom: 2px solid blue; */
}

.icon-dropdown {
    background: none;
    border: none;
}

.search-icon {
    border-left: 1px solid rgba(69, 68,68, 0.4);
    padding-left: 33px;
}

/* left sidebar */

.left-sidebar {
    width: 75px;
}

.sidebar-icons {
    background-color: #3a3a3c;
    width: 40px;
    padding: 5px 3px;
    border-radius: 18px;
}

.sidebar-icons div {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-icons .active {
    background-color: #4e4e52;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* right sidebar */

.right-sidebar {
    position: fixed;
    top: 75px;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 25px;
    background-color: #1c1c1e;
    overflow-y: auto;
}

.top-buyers {
    background-color: #2c2c2e;
    width: 250px;
    padding: 8px;
}

.top-buyer-logo-container {
    padding: 10px 0;
}

.top-buyer-logo {
    width: 40px;
    height: 40px;
}

.top-buyer-info {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    padding-top: 10px;
}

.top-buyers div:last-of-type .top-buyer-info {
    border-bottom: none;
    padding-bottom: 0;
}

.net-profit-card {
    width: 250px;
    background-color: #2c2c2e;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
}

main {
    margin-top: 75px;
    margin-left: 75px;
    padding: 25px;
}

/* seller */

.gray-border {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.invoice-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* users */

.users-table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.users-table thead th {
    background-color: #707070;
}

.users-table tbody td, .users-table tbody th {
    background-color: #626161;
}

.users-table td, .users-table th {
    padding-top: 8px;
    padding-bottom: 8px;
}

.users-table thead tr th:first-of-type {
    border-left: 1px solid #707070;
    border-radius: 10px 0 0 10px;
}

.users-table thead tr th:last-of-type {
    border-right: 1px solid #707070;
    border-radius: 0 10px 10px 0;
}

.users-table tbody tr th:first-of-type {
    border-left: 1px solid #626161;
    border-radius: 10px 0 0 10px;
}

.users-table tbody tr td:last-child {
    border-right: 1px solid #626161;
    border-radius: 0 10px 10px 0;
}

.more-button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 3px 10px;
    border-radius: 5px;
}

/* user detail */

.orders-overview {
    background: linear-gradient(#101428, #111527);
}

.referral-tracking {
    background: linear-gradient(rgba(6, 11, 40, 0.74), rgba(14, 21, 58, 0.71));
}

.sales-overview {
    background: linear-gradient(#101429, #121527);
}


@media screen and (max-width: 1100px) {
    .management-detail {
        flex-direction: column;
    }

    .management-detail > div:first-child {
        order: 2;
        width: 100%;
    }

    .management-detail > div:last-child {
        order: 1;
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 25px;
    }

    .orders-overview-items {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
}